.container{
    position: absolute;
    width: 100%;
    height: 85vh;
}
.search{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #CCAD8F;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
    box-sizing: border-box;
}