@import url('https://fonts.googleapis.com/css?family=Mandali&display=swap');
* {
    font-family: 'Mandali','Roboto', sans-serif !important;
}
body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
}
.bg1 {
    background-image: url("../../../assets/bg1.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    text-align: center;
}
.display{
    background-color: #F3E6CE;
    margin: auto;
}
agm-map {
    height: 300px;
    margin-bottom: 20px;
}