.container{
    width: 100%;
    height: 85vh;
    margin: auto;
}
.search{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 80%;
    background-color: #CCAD8F;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
    box-sizing: border-box;
}
.minutely{
    background-color: #CCAD8F;
    margin: auto;
}
.hourly{
    background-color: #CCAD8F;
    margin: auto;
}
.daily{
    background-color: #CCAD8F;
    margin: auto;
}